.heroesContent
    margin-top: 50px
    display: grid
        grid-template-columns: 1fr
        grid-template-rows: repeat(2, 50%)
    img
        z-index: 0
        grid-column: 2
    // .heroesInfo
    //     opacity: 0
    //     transform: translateX(100px)
    //     transition: opacity 0.5s ease, transform 0.5s ease
    // .active
    //     opacity: 1
    //     transform: translateX(0)