@import '../../style/_mixin.module'

.heroesCard
    grid-row: 2
    grid-column: 2 span
    .card
        padding: 30px
        // overflow: hidden
        overflow-y: scroll
        height: 1000px
        display: grid
        grid-template-columns: repeat(4, 1fr)
        gap: 2em
        &::-webkit-scrollbar
            width: 4px
            height: 20px
            scrollbar-gutter: stable
        &::-webkit-scrollbar-thumb
            background-color: #F65151
            border-radius: 10px
            width: 20px
            background-clip: padding-box
        &::-webkit-scrollbar-track
            background-color: #ADB6BF66
            margin: 40px
        @media screen and ( max-width: 850px )
            overflow-y: scroll
            height: 1100px
            display: flex
            justify-content: center
            flex-wrap: wrap
        .item
            display: flex
            flex-direction: column
            height: 400px
            cursor: pointer
            background-color: #232222
            box-shadow: 1px 5px 22px -1px#5C5C5C
            transition: all .5s ease
            &:hover
                box-shadow: 1px 5px 22px -1px#9F0013
                transform: scale(1.05)
                outline: none
            &:focus
                box-shadow: 1px 5px 22px -1px#9F0013
                transform: scale(1.05)
                outline: none
            .img
                object-fit: cover
                width: 100%
                height: 300px
            .name
                padding: 20px
                color: #fff
                font-size: 22px
                font-weight: 700
                line-height: 25.78px
                text-transform: uppercase
    .btn
        margin-top: 50px
        display: flex
        align-items: flex-end
        justify-content: center
        button
            @include button